@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.header-nav__link, .hero__button, .logo {
  text-decoration: none;
  display: block;
  outline: none;
}

.header-nav__list, .advant-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn, .btn--dark, .button-circle, .modal__cross {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  color: #000000;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.58;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 0;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 6px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-left: auto;
}

.header-nav__button--cross {
  position: absolute;
  top: 23px;
  right: 28px;
}

@media screen and (min-width: 768px) {
  .header-nav__button {
    margin-left: 285px;
  }
  .header-nav__button--cross {
    position: absolute;
    top: 23px;
    right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav__button {
    display: none;
  }
}

.menu-container {
  background-color: #e17992;
  padding: 60px 20px;
  color: #ffffff;
}

@media screen and (max-width: 1279px) {
  .menu-container {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-container {
    width: 254px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: unset;
    padding: unset;
  }
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
}

.header-nav__btn {
  display: none;
}

.header-nav__btn--menu {
  margin: 0 auto;
  width: 209px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
}

@media screen and (min-width: 768px) {
  .header-nav__btn {
    display: block;
    margin-left: auto;
    width: 160px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
  }
  .header-nav__btn--menu {
    width: 186px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav__btn--menu {
    display: none;
  }
}

.header-nav__icon {
  margin-left: 20px;
  width: 6px;
  height: 8px;
}

.header-nav__icon--menu {
  margin-left: 25px;
}

@media screen and (max-width: 1279px) {
  .header-nav__list {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 110px;
  }
}

@media screen and (max-width: 1279px) {
  .header-nav__item {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
  }
  .header-nav__item:not(:last-child) {
    margin-bottom: 23px;
  }
  .header-nav__item::before {
    content: '';
    display: block;
    width: 250px;
    position: absolute;
    left: -20px;
    top: -12px;
    height: 1px;
    background-color: #e18298;
  }
  .header-nav__item:last-child::after {
    content: '';
    display: block;
    width: 250px;
    position: absolute;
    left: -20px;
    bottom: -12px;
    height: 1px;
    background-color: #e18298;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav__item {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
  }
  .header-nav__item:not(:last-child) {
    margin-right: 35px;
  }
}

.header-nav__link {
  color: #ffffff;
}

.header-nav__link--current {
  color: #d41443;
}

.hero {
  width: 100%;
  background-color: #ffb8ca;
}

@media screen and (max-width: 767px) {
  .hero {
    height: 502px;
    padding-top: 83px;
    padding-bottom: 193px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 102px;
    padding-bottom: 173px;
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 171px;
    padding-bottom: 292px;
    height: 665px;
  }
}

@media screen and (max-width: 767px) {
  .hero__pink-circle {
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 83px;
    right: 0;
    width: 284px;
    height: 344px;
    background-image: url("/images/hero-header/mobile/ellipse.png");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__pink-circle {
    background-image: url("/images/hero-header/mobile/ellipse-2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero__pink-circle {
    position: absolute;
    width: 324px;
    height: 322px;
    top: 31px;
    left: 292px;
    border-radius: 50%;
    background-color: #ffa5ba;
  }
}

@media screen and (min-width: 1280px) {
  .hero__pink-circle {
    width: 538px;
    height: 538px;
    top: 52px;
    left: 475px;
  }
}

.hero__ice-cream {
  position: absolute;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hero__ice-cream {
    top: 92px;
    right: 32px;
    width: 171px;
    height: 410px;
    background-image: url("/images/hero-header/mobile/icecream-mobile.png");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__ice-cream {
    background-image: url("/images/hero-header/mobile/icecream-mobile-x2.png");
  }
}

@media screen and (min-width: 768px) {
  .hero__ice-cream {
    top: 63px;
    left: 378px;
    width: 143px;
    height: 336px;
    background-image: url("/images/hero-header/tablet/icecream-tablet.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__ice-cream {
    background-image: url("/images/hero-header/tablet/icecream-tablet-x2.png");
  }
}

@media screen and (min-width: 1280px) {
  .hero__ice-cream {
    top: 108px;
    left: 594px;
    width: 236px;
    height: 557px;
    background-image: url("/images/hero-header/desktop/icecream-desktop.png");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__ice-cream {
    background-image: url("/images/hero-header/desktop/icecream-desktop.png");
  }
}

.hero__title {
  font-family: Titan One;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
  width: 218px;
}

.hero__title--color {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.15;
  color: #d41443;
}

@media screen and (max-width: 569px) {
  .hero__title {
    position: absolute;
    top: 193px;
    left: 20px;
  }
}

@media screen and (min-width: 570px) {
  .hero__title {
    position: unset;
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 162px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.15;
  }
  .hero__title--color {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.15;
    color: #d41443;
  }
}

@media screen and (min-width: 960px) {
  .hero__title {
    position: absolute;
    top: 102px;
    left: 130px;
    width: 162px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    position: unset;
    width: 277px;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 25px;
  }
  .hero__title--color {
    font-size: 58px;
    font-weight: 400;
    line-height: 1.15;
    color: #d41443;
  }
}

.hero__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 83px;
  height: 24px;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.3;
  top: 318px;
  left: 90px;
}

.hero__button--dark {
  width: 62px;
  height: 24px;
  top: 318px;
  left: 20px;
}

@media screen and (min-width: 570px) {
  .hero__button {
    position: unset;
  }
  .hero__button--dark {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .hero__button--dark {
    width: 62px;
    height: 24px;
  }
}

@media screen and (min-width: 960px) {
  .hero__button {
    position: absolute;
    top: 202px;
    left: 200px;
  }
  .hero__button--dark {
    top: 202px;
    left: 130px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__button {
    position: unset;
    width: 138px;
    height: 40px;
  }
  .hero__button--dark {
    margin-right: 15px;
    width: 104px;
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero__tablet {
    display: none;
  }
}

.hero__girl {
  position: absolute;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 168px;
  height: 133px;
  top: 266px;
  right: 34px;
  background-image: url("/images/hero-header/tablet/girl-tablet.png");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__girl {
    background-image: url("/images/hero-header/tablet/girl-tablet-2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .hero__girl {
    width: 293px;
    height: 232px;
    top: 433px;
    right: 109px;
    background-image: url("/images/hero-header/desktop/girl-desktop.png");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__girl {
    background-image: url("/images/hero-header/desktop/girl-desktop-2x.png");
  }
}

.hero__milk {
  position: absolute;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 124px;
  height: 126px;
  top: 245px;
  left: 34px;
  background-image: url("/images/hero-header/tablet/milk-tablet.png");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__milk {
    background-image: url("/images/hero-header/tablet/milk-tablet-2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .hero__milk {
    width: 188px;
    height: 191px;
    top: 429px;
    left: 77px;
    background-image: url("/images/hero-header/desktop/milk-desktop.png");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__milk {
    background-image: url("/images/hero-header/desktop/milk-desktop-2x.png");
  }
}

.hero__text {
  position: absolute;
  width: 114px;
  top: 292px;
  left: 154px;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero__text {
    width: 200px;
    top: 485px;
    left: 295px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
  }
}

.hero__button-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 347px;
  left: 154px;
  padding: 5px;
}

@media screen and (min-width: 1280px) {
  .hero__button-circle {
    width: 26px;
    height: 26px;
    top: 583px;
    left: 295px;
    padding: 8px;
  }
}

.hero__button-icon {
  fill: #d41443;
}

.advant-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advant-list__item:not(:last-child) {
  margin-bottom: 13px;
}

.advant-list__circle {
  position: absolute;
  top: 94px;
  right: 34px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
}

.advant-list__circle--bottom {
  top: 151px;
}

@media screen and (min-width: 1280px) {
  .advant-list__circle {
    top: 156px;
    right: 97px;
    width: 30px;
    height: 30px;
  }
  .advant-list__circle--bottom {
    top: 248px;
  }
}

.advant-list__number {
  position: absolute;
  top: 96px;
  right: 44px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.advant-list__number--bottom {
  top: 152px;
}

@media screen and (min-width: 1280px) {
  .advant-list__number {
    top: 160px;
    right: 115px;
    font-size: 46px;
  }
  .advant-list__number--bottom {
    top: 251px;
  }
}

.advant-list__text {
  position: absolute;
  top: 128px;
  right: 44px;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}

.advant-list__text--bottom {
  top: 184px;
}

@media screen and (min-width: 1280px) {
  .advant-list__text {
    top: 215px;
    right: 115px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }
  .advant-list__text--bottom {
    top: 306px;
  }
}

.products {
  background-color: grey;
}

.about {
  background-color: tomato;
}

.advantages {
  background-color: teal;
}

.section__gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8cfda), to(white));
  background-image: linear-gradient(#f8cfda, white);
}

.masonry__item {
  width: 10%;
}

@media screen and (min-width: 768px) {
  .masonry__item {
    width: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .masonry__item {
    width: 140px;
  }
}

.masonry__item--big {
  width: 20%;
}

@media screen and (min-width: 768px) {
  .masonry__item--big {
    width: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .masonry__item--big {
    width: 285px;
  }
}

.masonry__photo {
  width: 100%;
  border-radius: 10px;
}

.review {
  padding-top: 80px;
  padding-bottom: 86px;
}

@media screen and (min-width: 768px) {
  .review {
    padding-top: 121px;
    padding-bottom: 119px;
  }
}

@media screen and (min-width: 1280px) {
  .review {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.slider {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider-img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.slider-text {
  position: relative;
  padding: 43px 66px 26px 57px;
  margin: 0 auto;
  background-color: #fafafa;
  max-width: 280px;
}

.slider-text:not(:last-child) {
  margin-bottom: 52px;
}

@media screen and (min-width: 768px) {
  .slider-text {
    max-width: 620px;
  }
  .slider-text:not(:last-child) {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-text {
    max-width: 926px;
  }
  .slider-text:not(:last-child) {
    margin-bottom: 15px;
  }
}

.slider-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  max-width: 157px;
  background-image: repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 29px, #e1e1e1 0, #e1e1e1 30px);
}

.slider-title::before {
  position: absolute;
  z-index: 1;
  display: block;
  content: '';
  background-image: url(/images/icons.svg#);
  background-size: 54px 40px;
  width: 54px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .slider-title {
    max-width: 460px;
    font-size: 14px;
    line-height: 2.14;
  }
}

@media screen and (min-width: 1280px) {
  .slider-title {
    max-width: 750px;
    font-size: 16px;
    line-height: 1.87;
  }
}

.slider-title .slider-paragraph {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .slider-title .slider-paragraph {
    max-width: 460px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-title .slider-paragraph {
    max: width 750px;
    font-size: 20px;
  }
}

.slider-bottom {
  margin-top: -15px;
}

.slider-bottom::before {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  margin-bottom: 30px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  content: '...';
  color: #c7133e;
}

.contacts {
  background-color: green;
}

.footer {
  background-color: blue;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 470px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
  }
}

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .logo__img {
    position: absolute;
    left: -70px;
  }
}

.logo__text {
  font-family: Titan One;
  margin-left: 20px;
  text-transform: uppercase;
  color: #d41443;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.15;
}

@media screen and (min-width: 1280px) {
  .logo__text {
    margin-left: 0;
  }
}

.btn {
  border-radius: 22px;
  border: 1px solid transparent;
  padding: 0;
  color: #d41443;
  background-color: #ffffff;
}

.btn:hover, .btn:focus {
  background-color: #ecebeb;
}

.btn--dark {
  border-radius: 22px;
  border: 1px solid transparent;
  padding: 0;
  color: #ffffff;
  background-color: #d41443;
}

.button-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #ffffff;
}

.pre-title {
  font-family: Titan One;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .pre-title {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .pre-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
  }
}

.title {
  font-family: Titan One;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 58px;
    font-weight: 400;
    line-height: 1.14;
  }
}

.modal {
  /* скрываем МО */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 50%;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 22px;
  padding: 15px;
  z-index: 1;
  background-color: #ffffff;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  color: #d41443;
  text-align: center;
}

.modal__text {
  color: #907e82;
  text-align: center;
}

.modal.is-open,
.overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  fill: #d41443;
}

.overlay {
  /* скрываем подложку */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 245, 246, 0.6);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */