<footer class="section">
    <div class="container">
        <h2>homemade ice cream made</h2>
        <p>with passion</p>
        <ul>
            <li class="git">
                <a href="">
                    Git
                </a>
            </li>
            <li class="telegram">
                <a href="">
                    Teleg
                </a>
            </li>
            <li class="facebook">
                <a href="">
                    Faceb
                </a>
            </li>
        </ul>
        <p>Feel free to contact <a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a> </p>
        <p>© 2019 - IceCream.<br>
        All Rights Reserved.</p>
    </div>
</footer>